body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100vh;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500; 
    font-style: normal;
    color: white
}

#box1{
    height: 550px;
    width: 850px;
    background-image: linear-gradient(to bottom right, rgb(0, 204, 255),rgb(166, 0, 255));
    border-radius: 2%;
    display: grid;
    grid-template: 1fr 0.5fr 4fr 2fr/ 4fr 2fr;
}
#searchbox{
    grid-column: span 2;
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    
}
#submit{
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background-color: rgb(255, 255, 255, 0.5);
}
#submit:hover{
    background-color: rgb(255, 255, 255, 0.7);
}
#searchbar{
    width:500px;
    height: 40px;
    border-radius: 30px;
    padding-left: 15px;
    background-color: rgb(255, 255, 255, 0.5);
}

#searchbar:hover{
    background-color: rgb(255, 255, 255, 0.7);
}
#placebox{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}
#placebox h1{
    font-weight: 550;
}
#contentbox{
    padding-left: 40px;
    padding-right: 40px;
}
#contentbox ul{
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}
#contentbox li{
    padding: 7px 0;
    border-bottom: 1px solid white;
}
.responsive-br{
    display:none;
}
#iconbox{
    grid-row: span 2 ;
    display:flex;
    flex-direction: column;
    align-items: center;
}

#forecastbox{
    grid-column: span 2; 
    padding-left: 40px;
    padding-right: 100px;
    padding-bottom: 5px;
    
}
#datebox{
    display: flex;
    justify-content: space-between;
}
#datebox div{
    height:95px;
    width: 90px;
    background-color: rgb(255, 255, 255, 0.3);
    border-radius: 5%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500; 
    font-style: normal;
    color: white;
    font-size: 16px;
}

#datebox div:hover{
    background-color: rgba(255, 255, 255, 0.5);
}

#temptext{
    margin: 0;
}
#iconbox h1{
    font-size: 80px;
    font-weight: 500;
}

#iconbox h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}

#iconbox div{
    display:flex;
    flex-direction: column;
    align-items: center;
}
#notfound{
    grid-column: span 2;
    grid-row: span 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (max-width:810px) {
    #box1{
        width: 400px;
        display: flex;
        flex-direction: column;

    }
    #searchbar{
        width:200px;
        height: 40px;
    }
    #searchbox{
        display:flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
        padding: 20px;
    }
    #placebox{
        padding-left: 15px;
        padding-right: 15px;
    }
    #iconbox{
        display:flex;
        flex-direction:row;
        align-items: center;
        justify-content: space-between;
        padding-left: 20px;
        padding-right: 30px;
        padding-bottom: 20px;
    }
    #iconbox h1{
       font-size: 55px;
       font-weight: 500;
    }
    #iconbox h2{
        font-size: 25px;
        font-weight: 400;
        margin-top: -10px;
        margin-bottom: 0;
    }
    li svg{
        height:40px;
        width:40px;
    }
    #contentbox li{
        display:none ;
        border-bottom: none;
    }
    #contentbox li:nth-child(3),
    #contentbox li:nth-child(5){
        display: list-item;
        display:grid;
        grid-template-columns:3fr 7fr;
        height: 60px;
    }
    .responsive-br{
        display:inline;
    }
    #contentbox ul{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 40px;
    }
    #datebox h3{
        display:none;
    }
    #forecastbox{
        padding-right:20px;
    }

    #datebox {
        gap: 15px;
        overflow: scroll;
    }
    #datebox::-webkit-scrollbar{
        height: 0px;
    }
}